header {
  background-color: #27dbdb;
  height: 10em;
  width: 100%;
}

.box-model {
  background-color: #db2727;
  height: 300px;
  width: 300px;
  border: 5px dashed black;
  padding: 50px;
  margin: 50px 20px;
}

body, h1, p {
  margin: 0;
}

p {
  margin-bottom: 1em;
}

img {
  float: right;
  margin: 0 0 10px 10px;
}

.clear {
  clear: both;
}

.column {
  width: 40%;
  float: left;
  padding: 0 5%;
}