/* Colors: Coconut
darkest: #615050;
dark: #776A6A;
medium: #AD9A6F;
Light: #F5F1E8;
Lightest: #FCFCFC;
*/

/*Colors: Dream in Color;
darkest: #1B676B - teal;
dark: #519548 - green;
medium: #88C425 - lime green;
Light: #BEF202 - neon greem;
Lightest: #EAFDE6 - mint;
*/

/* Fonts:;
font-family: 'Syncopate', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #EAFDE6;
  text-align: center;
  font-size: 14px;
  background-color: #1B676B;
}

header, footer {
  height: 100%;
  background-image: url("../images/stripe_horizontal.png");
}

.header-name {
  font-family: 'Syncopate', sans-serif;
  color: #88C425;
  text-align: center;
  font-size: 200%;
  letter-spacing: 7px;
}

.section-title, .resume h2 {
  text-align: left;
  font-family: 'Syncopate', sans-serif;
  color: #88C425;
  font-size: 150%;
}

.biography p, .resume ul {
  text-align: left;
}

.resume h2, .resume ul {
  text-indent: 1%; 
}

.resume h2 {
  font-size: 120%;
}

a {
  color: #88C425;
  text-decoration: underline;
  font-weight: bold;
}

a:hover, a:active {
  color: #EAFDE6;
}
