/* Colors: Coconut
darkest: #615050;
dark: #776A6A;
medium: #AD9A6F;
Light: #F5F1E8;
Lightest: #FCFCFC;
*/

/*Colors: Dream in Color;
darkest: #1B676B - teal;
dark: #519548 - green;
medium: #88C425 - lime green;
Light: #BEF202 - neon greem;
Lightest: #EAFDE6 - mint;
*/

/*Colors: Marigold;
deep red: #671007;
yellow: #FEFE06;
marigold: #FE9D0E;
orange: #EC590B;
White lace: #FFFDF9;
*/

/* Fonts:;
font-family: 'Syncopate', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #EAFDE6;
  text-align: center;
  font-size: 14px;
  background-color: #1B676B;
  margin: 0;
}

header, footer {
  width: 100%;
  height: 100%;
  padding: 1% 0;
}

header {
  border-bottom: 1px double #EAFDE6
}

footer {
  border-top: 1px double #EAFDE6
}

.clear {
  clear: both;
}

.biography, .resume {
  float: left;
  padding: 0 5%;
}

.biography {
  width: 15%;
}

.resume {
  width: 65%;
  background-color: #EAFDE6;
  color: #1B676B;
}

img {
  border: 1px double #EAFDE6;
  margin: 1em 0;
}

.header-name {
  font-family: 'Syncopate', sans-serif;
  color: #88C425;
  text-align: center;
  font-size: 200%;
  letter-spacing: 7px;
}

.section-title, .resume h2, .resume h3 {
  text-align: left;
  font-family: 'Syncopate', sans-serif;
  color: #88C425;
}

.section-title {
  font-size: 175%;
}

.biography p, .resume ul {
  text-align: left;
}

.resume h2, {
  font-size: 120%;
}

.resume h3, .resume ul {
  font-size: 100%;
  text-indent: 1%;
}

a {
  color: #88C425;
  text-decoration: underline;
  font-weight: bold;
}

a:hover, a:active {
  color: #EAFDE6;
}
