body {
  height: 100%;
  background-image: url("../images/noisy_grid.png");
}

p::before{
  content: "Instructions: ";
}

a {
  color: #CC0C39;
  text-decoration: none;
}

a:visited {
  color: #1693A7;
}

a:hover {
  color: #E6781E;
  font-weight: bold;
  text-transform: uppercase;
}

a:active {
  color: #C8CF02;
  font-size: 120%;
}